<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.dao.BlogUserDao">

    <insert id="addUser" >
              insert into BlogUser
        (id, userName, password)
        values
        (#{id}, #{userName}, #{password})
    </insert>


    <select id="pullBlogUsers"  resultMap="BlogUserResult">
        select * from BlogUser  where 1=1
    </select>

    <resultMap type="BolgInfo" id="BlogUserResult">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="author" column="author"/>
        <result property="password" column="password"/>
        <result property="age" column="age"/>
        <result property="gender" column="gender"/>
    </resultMap>

</mapper>